/*css document*/

.body{
  background-color: ;
}

.landing-page{
  width: 100%;
  height: 100vh;
  background-color: #778899;
}

nav{
  background-color: #778899;
}

.about{
  background-color: #E6E6FA;
}

.skills{
  background-color: #5F9EA0;
}

.projects{
  background-color: #20B2AA;
}

div > div.progress{
  height: 30px;
}

div.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

div.icon-bar a {
  display: block;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  line-height: 35px;
  z-index: 99999;
}

div.icon-bar a:hover {
    background-color: #000;
    cursor: pointer;
}

.facebook {
  background: #3B5998;
  color: white;
}

a.facebook > i{
  font-size: 24px;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.googleplus {
  background: #dd4b39;
  color: white;
}

.instagram {
  background: #7232bd;
  color: white;
}

a.instagram > i{
  font-size: 24px;
}

.github {
  background: #000;
  color: white;
}

a.github > i{
  font-size: 24px;
}

div.icon-bar a > i{
  padding: 5px;
}

div.icon-bar a span {
   line-height: 35px;
   left: -120px;
   position: absolute;
   text-align:center;
   width:120px;
}
div.icon-bar a:hover span {
   left: 100%;

}

div.icon-bar a[class="facebook"],
div.icon-bar a[class="facebook"]:hover,
div.icon-bar a[class="facebook"] span { background: #3b5998; }

div.icon-bar a[class="twitter"],
div.icon-bar a[class="twitter"]:hover,
div.icon-bar a[class="twitter"] span { background: #00aced; }

div.icon-bar a[class="googleplus"],
div.icon-bar a[class="googleplus"]:hover,
div.icon-bar a[class="googleplus"] span { background: #dd4b39; }

div.icon-bar a[class="github"],
div.icon-bar a[class="github"]:hover,
div.icon-bar a[class="github"] span { background: #000; }

div.icon-bar a[class="instagram"],
div.icon-bar a[class="instagram"]:hover,
div.icon-bar a[class="instagram"] span { background: #517fa4; }
